AC-Tools/WDS-Generator/world_drop_generator48/data/static_data/world_drops.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="world_drop" type="worldDrop"/>

  <xs:element name="world_drops" type="worldDropData"/>

  <xs:complexType name="worldDropData">
    <xs:sequence>
      <xs:element ref="world_drop" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="worldDrop">
    <xs:sequence>
      <xs:element name="pattern" type="pattern"/>
    </xs:sequence>
    <xs:attribute name="chance" type="xs:float" use="required"/>
	<xs:attribute name="add_untradeable" type="xs:boolean"/>
    <xs:attribute name="race_restriction" type="race_restriction"/>
    <xs:attribute name="dropGroup" type="xs:string" use="required"/>
    <xs:attribute name="min_amount" type="xs:int" use="optional" default="1"/>
    <xs:attribute name="max_amount" type="xs:int" use="optional" default="1"/>
  </xs:complexType>

  <xs:complexType name="pattern" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="and_pattern">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence>
          <xs:element name="pattern" type="pattern" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="or_pattern">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence>
          <xs:element name="pattern" type="pattern" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="not_pattern">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence>
          <xs:element name="pattern" type="pattern" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_rank">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="rank" type="rank"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_id">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="npc_id" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_map_id">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="map_ids" type="NumberListType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_item_lvl_diff">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="min_dif" type="xs:int" use="required"/>
        <xs:attribute name="max_dif" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_level">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="min_level" type="xs:int" use="required"/>
        <xs:attribute name="max_level" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_name">
    <xs:complexContent>
      <xs:extension base="stringPattern">
        <xs:sequence/>
        <xs:attribute name="val" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stringPattern" abstract="true">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence>
          <xs:element name="function" type="stringFunction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stringFunction" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="contains">
    <xs:complexContent>
      <xs:extension base="stringFunction">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="start_with">
    <xs:complexContent>
      <xs:extension base="stringFunction">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="end_with">
    <xs:complexContent>
      <xs:extension base="stringFunction">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_race">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="race" type="race"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="npc_rating">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="rating" type="rating"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="item_cat">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="category" type="item_category"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="item_ids">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="item_ids" type="NumberListType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
	<xs:simpleType name="NumberListType">
		<xs:list itemType="xs:int"/>
	</xs:simpleType>
  <xs:complexType name="item_level">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="min_level" type="xs:int" use="required"/>
        <xs:attribute name="max_level" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="item_name">
    <xs:complexContent>
      <xs:extension base="stringPattern">
        <xs:sequence/>
        <xs:attribute name="val" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="item_quality">
    <xs:complexContent>
      <xs:extension base="pattern">
        <xs:sequence/>
        <xs:attribute name="quality" type="quality"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="race_restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASMODIANS"/>
      <xs:enumeration value="ELYOS"/>
      <xs:enumeration value="NONE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rank">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOVICE"/>
      <xs:enumeration value="DISCIPLINED"/>
      <xs:enumeration value="SEASONED"/>
      <xs:enumeration value="EXPERT"/>
      <xs:enumeration value="VETERAN"/>
      <xs:enumeration value="MASTER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="race">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ELYOS"/>
      <xs:enumeration value="ASMODIANS"/>
      <xs:enumeration value="LYCAN"/>
      <xs:enumeration value="CONSTRUCT"/>
      <xs:enumeration value="CARRIER"/>
      <xs:enumeration value="DRAKAN"/>
      <xs:enumeration value="LIZARDMAN"/>
      <xs:enumeration value="TELEPORTER"/>
      <xs:enumeration value="NAGA"/>
      <xs:enumeration value="BROWNIE"/>
      <xs:enumeration value="KRALL"/>
      <xs:enumeration value="SHULACK"/>
      <xs:enumeration value="BARRIER"/>
      <xs:enumeration value="PC_LIGHT_CASTLE_DOOR"/>
      <xs:enumeration value="PC_DARK_CASTLE_DOOR"/>
      <xs:enumeration value="DRAGON_CASTLE_DOOR"/>
      <xs:enumeration value="GCHIEF_LIGHT"/>
      <xs:enumeration value="GCHIEF_DARK"/>
      <xs:enumeration value="DRAGON"/>
      <xs:enumeration value="OUTSIDER"/>
      <xs:enumeration value="RATMAN"/>
      <xs:enumeration value="DEMIHUMANOID"/>
      <xs:enumeration value="UNDEAD"/>
      <xs:enumeration value="BEAST"/>
      <xs:enumeration value="MAGICALMONSTER"/>
      <xs:enumeration value="ELEMENTAL"/>
      <xs:enumeration value="LIVINGWATER"/>
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="PC_ALL"/>
      <xs:enumeration value="DEFORM"/>
      <xs:enumeration value="NEUT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rating">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JUNK"/>
      <xs:enumeration value="NORMAL"/>
      <xs:enumeration value="ELITE"/>
      <xs:enumeration value="HERO"/>
      <xs:enumeration value="LEGENDARY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="item_category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MANASTONE"/>
			<xs:enumeration value="SPECIAL_MANASTONE"/>
			<xs:enumeration value="GODSTONE"/>
			<xs:enumeration value="ENCHANTMENT"/>
			<xs:enumeration value="FLUX"/>
			<xs:enumeration value="BALIC_EMOTION"/>
			<xs:enumeration value="BALIC_MATERIAL"/>
			<xs:enumeration value="RAWHIDE"/>
			<xs:enumeration value="SOULSTONE"/>
			<xs:enumeration value="RECIPE"/>
			<xs:enumeration value="GATHERABLE"/>
			<xs:enumeration value="GATHERABLE_BONUS"/>
			<xs:enumeration value="DROP_MATERIAL"/>
			<xs:enumeration value="SWORD"/>
			<xs:enumeration value="DAGGER"/>
			<xs:enumeration value="MACE"/>
			<xs:enumeration value="ORB"/>
			<xs:enumeration value="SPELLBOOK"/>
			<xs:enumeration value="GREATSWORD"/>
			<xs:enumeration value="POLEARM"/>
			<xs:enumeration value="STAFF"/>
			<xs:enumeration value="BOW"/>
			<xs:enumeration value="SHIELD"/>
			<xs:enumeration value="HARP"/>
			<xs:enumeration value="GUN"/>
			<xs:enumeration value="CANNON"/>
			<xs:enumeration value="KEYBLADE"/>
			<xs:enumeration value="JACKET"/>
			<xs:enumeration value="PANTS"/>
			<xs:enumeration value="SHARD"/>
			<xs:enumeration value="SHOES"/>
			<xs:enumeration value="GLOVES"/>
			<xs:enumeration value="SHOULDERS"/>
			<xs:enumeration value="NECKLACE"/>
			<xs:enumeration value="EARRINGS"/>
			<xs:enumeration value="RINGS"/>
			<xs:enumeration value="HELMET"/>
			<xs:enumeration value="BELT"/>
			<xs:enumeration value="SKILLBOOK"/>
			<xs:enumeration value="STIGMA"/>
			<xs:enumeration value="COINS"/>
			<xs:enumeration value="MEDALS"/>
			<xs:enumeration value="QUEST"/>
			<xs:enumeration value="KEY"/>
			<xs:enumeration value="CRAFT_BOOST"/>
			<xs:enumeration value="COMBINATION"/>
			<xs:enumeration value="NONE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMMON"/>
      <xs:enumeration value="RARE"/>
      <xs:enumeration value="UNIQUE"/>
      <xs:enumeration value="LEGEND"/>
      <xs:enumeration value="MYTHIC"/>
      <xs:enumeration value="EPIC"/>
      <xs:enumeration value="JUNK"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

